<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <noscript>
        <h2>Sorry! Your browser doesn't support Javascript</h2>
    </noscript>
    <div id="chatRoom-page" class="">
        <div class="chat-container">
            <div class="chatRoom-header">
                <button class="logout-btn btn btn-lg" onclick="window.location='/logout';">로그아웃</button>
                <form method="POST" action="/add/room" id="roomForm" name="roomForm" onSubmit="return false;">
                    <div class="form-group">
                        <input type="text" id="name" name = "name" placeholder="23글자까지만 보여집니다." autocomplete="off" class="form-control" onkeypress="return event.keyCode!=13" />
                        <button class="btn btn-primary btn-lg" type="submit">만들기</button>

                    </div>
                </form>
            </div>
            <ul id="roomArea">
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th>이름</th>
                        <th>인원수</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </ul>
        </div>
    </div>



    <div id="chat-page" class="hidden">
        <div class="chat-container">
            <div class="chat-btn-container">
                <button class="exit-btn">나가기</button>
            </div>

            <div class="chat-header">
                <h2>Spring WebSocket Chat Demo</h2>
            </div>
            <div class="connecting">
                Connecting...
            </div>
            <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">보내기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="template" id="tableTemplate">
        <tr class='chatRoom'>
            <td class="hidden">{{id}}</td>
            <td class="chatRoom-name">{{name}}</td>
            <td>{{count}}</td>

        </tr>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js" integrity="sha256-ngJY93C4H39YbmrWhnLzSyiepRuQDVKDNCWO2iyMzFw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="/js/chatRoomList.js"></script>

</body>
</html>