<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="index-page">
    <div class="index-page-container">
        <h1 class="title">Spring WebSocket Chat Demo</h1>
        <button class="accent login-btn">login</button>
        <button class="accent join-btn">join</button>
    </div>
</div>



<script src="/js/main.js"></script>

</body>
</html>